html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    padding-right: 17px;
    padding-top: 7px;
}

.header__item {
    display: block;
    margin-left: 18px;
}

.header__item_text-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header__item_text-link {
    align-self: center;
    margin-bottom: 2px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.header__item_dots-svg {
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
}

.header__item_user-logo {
    width: 32px;
    height: 32px;
    background-color: rgb(173, 119, 94);
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    line-height: 32px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.logo__image {
    width: 272px;
    height: 92px;
    background-image: url(imgs/google_logo.svg);
}

.search-form {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 580px;
    height: 40px;
}

.search-form__main-input {
    width: 580px;
    height: 100%;
    padding: 0 50px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
}

.search-form__main-input:hover {
    box-shadow: 0 0 4px rgb(218, 218, 218);
}

.search-form__main-input:focus {
    outline: none;
}

.search-form__magnifier {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 30px;
}

.search-form__magnifier_color_gray {
    color: #70757a;
    fill: currentColor;
}

.search-form__magnifier_position_top-left-corner {
    position: absolute;
    top: 10px;
    left: 15px;
}
 
.search-form__microphone {
    width: 22px;
    height: 22px;
    background-image: url(imgs/1200px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.search-form__microphone_position_top-right-corner {
    position: absolute;
    top: 10px;
    right: 15px;
}

.search-form__microphone:hover {
    cursor: pointer;
}

.buttons-section {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.main-button {
    display: flex;
    box-sizing: border-box;
    width: 138px;
    height: 36px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-button:hover {
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px rgb(230, 230, 230);
    cursor: pointer;
}

.main-button div {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(58, 58, 58);
}

.language-section {
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.user-language {
    color:rgb(48, 39, 182);
}

.footer {
    margin-top: 100px;
    background-color: rgb(240, 240, 240);
}

.footer > div {
    min-height: 48px;
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(140, 140, 140);
}

.footer-country {
    display: flex;
    align-items: center;
}

.footer-links {
    border-top: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
}

.footer-links-side {
    display: flex;
}

.footer-link {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.footer-link:last-child {
    padding-right: 0;
}

.footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
}